* {
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  box-sizing: border-box;
}

.approved-row {
  background-color: rgb(172, 237, 172) !important;
}



.tooltip-content {
  display: flex;
  flex-direction: column;
}

.tooltip-entry {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}

.tooltip-entry:last-child {
  border-bottom: none;
}

.yellow-row {
  background-color: yellow !important;
}
th.ant-table-cell {
  min-width: 200px;
}
.star-red{
  position: absolute;
  color: red;
  margin-left: 104px;
  margin-top: 12px;
}

/* tbody > tr > td:nth-child(8) {
  background-color: rgba(81, 181, 176);
  color: black;
} */
tbody > tr > td:nth-child(14) {
  background-color: rgba(184, 237, 104);
  color: black;
}
.green-row {
  background-color: rgb(89, 181, 89) !important;
}

.red-row {
  background-color: rgb(202, 84, 84) !important;
}

.pending-row {
  background-color: rgb(105, 125, 184) !important;
}

.employee-name {
  font-weight: 500;
}

.employee-hours {
  color: #888;
}

.outer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.emp-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  block-size: fit-content;
}

.menu-div {
  width: 14vw;
  height: 90vh;
  background-color: white;
  overflow: auto;
}
.total-size{
  font-size:2rem;
  margin-left: 45px;
  color: #2723cd;
}
.total-lengthPortal{
  display: flex;
  margin-left: 55px;
  gap: 25px;
  font-size: 1rem;
}
.portal{color:red;}
.form-container {
  width: 85vw;
  height: 90vh;
  background-color: #f7f9ff;
  padding: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* margin-top: 10vh */
}

.SalecampusForm-data-os {
  width: 60%;
  background-color: #f7f9ff;
  padding: 2rem 4rem;
}
.hidden {
  display: none;
}

.form-div {

  width: 40%;
  background-color: #F7F9FF;
  height: 100%;
  margin-right: 48%;
  /* margin-top:7% */
}

.emp-div-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 6%;
  padding-left: 10px;
  padding-right: 4%;
  border-radius: 5px;
  width: 13vw;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px solid #094781;
  background-color: #ffffff;
  border: 1.69622px solid #d8d6d6;
  border-radius: 4.24055px;
}

.emp-label {
  font-weight: bold;
  color: #094781;
  margin-top: 3%;
  margin-bottom: 2%;
}

.btn-btn-primary {}

.upwork {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16.83px;
  line-height: 15px;
  letter-spacing: 0.02em;
  min-width: fit-content;
  margin-left: 4%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 4px;
  border-radius: 15px;
}

.add-div {
  display: flex;
  width: 50%;
  margin-right: 15%;
  justify-content: flex-start;
  margin-top: 64px;
  flex-direction: column;
}

.add-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26.1px;
  line-height: 39px;
  letter-spacing: 0.02em;
  height: 25px;
  color: #094781;
  position: "absolute";
}

.go-button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 6px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.add-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.3508px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-top: 32px;
  color: #094781;
}

.add-input {
  background: #ffffff;
  border: 1.69622px solid #d8d6d6;
  border-radius: 4.24055px;
  box-sizing: border-box;
  width: 267.15px;
  height: 53.43px;
  min-height: 53.43px;
  margin-top: 10px;
  padding-inline: 10px;
}

.round-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #f1f1f1;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 15px;
  margin-right: "15px"

}

.round-button:hover {
  background-color: #ddd;
}


.add-button {
  width: 161px;
  height: 43px;
  left: 340px;
  top: 604px;
  background: #094781;
  border-radius: 4.96885px;
  margin-top: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18.7263px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.nav-dropDown {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10.83px;
  line-height: 19px;
  letter-spacing: 0.02em;
  padding: 0;
  color: #bdbdbd;
}

.go-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.83px;
  line-height: 25px;
  letter-spacing: 0.02em;
  background: #154880;
  border-radius: 5px;
  color: #ffffff;
}

.nav-proj-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13.292px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.09);
  background: #fd7c50;
  border: 1px solid #454545;
  border-radius: 50px;
}

.nav-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.83px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #2a2a2a;
}

.nav-hrs-estimate {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.83px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #2a2a2a;
  border: 1px solid #bebebe;
  border-radius: 99px;
  width: 221px;
  height: 25px;
  left: 1141px;
  top: 165px;
  padding: 4px 20px 4px;
  display: inline-flex;
  align-items: center;
}

.proj-person {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13.15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #154880;
  margin-bottom: 1.5%;
  margin-left: 2%;
}

.table-data {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10.15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #676767;
}

.containerStyle {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.totalLeaveStyle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.uncertainLeaveStyle {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}

.regularLeaveStyle {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}

/* salecampus css starts */
css .campus_form {
  width: 90%;
  margin: 0 auto;
}
.ant-select-selector{
  border-style: none !important;
  margin-top: 9px !important;
}
.saleCampus-form  thead.ant-table-thead tr th:nth-child(1),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(2),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(3),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(4),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(5),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(6),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(7),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(8),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(9),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(10),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(11),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(12),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(13),
.saleCampus-form  thead.ant-table-thead tr th:nth-child(14){
  min-width: 100px;

}

.view-phase thead.ant-table-thead tr th:nth-child(1),
.view-phase thead.ant-table-thead tr th:nth-child(1),
.view-phase thead.ant-table-thead tr th:nth-child(1){
  min-width: 100px;
}

.backlog-table thead.ant-table-thead tr th:nth-child(1),
.backlog-table thead.ant-table-thead tr th:nth-child(3),
.backlog-table thead.ant-table-thead tr th:nth-child(4),
.backlog-table thead.ant-table-thead tr th:nth-child(5),
.backlog-table thead.ant-table-thead tr th:nth-child(6) {
  min-width: 100px;
}
.employee-list thead.ant-table-thead tr th:nth-child(1),
.employee-list thead.ant-table-thead tr th:nth-child(2),
.employee-list thead.ant-table-thead tr th:nth-child(3),
.employee-list thead.ant-table-thead tr th:nth-child(4),
.employee-list thead.ant-table-thead tr th:nth-child(5),
.employee-list thead.ant-table-thead tr th:nth-child(6) {
  min-width: 100px;
}

.dashboard-handle thead.ant-table-thead tr th:nth-child(1),
.dashboard-handle thead.ant-table-thead tr th:nth-child(2),
.dashboard-handle thead.ant-table-thead tr th:nth-child(3),
.dashboard-handle thead.ant-table-thead tr th:nth-child(5),
.dashboard-handle thead.ant-table-thead tr th:nth-child(6) {
  min-width: 100px;
}
.evening-handle thead.ant-table-thead tr th:nth-child(1),
.evening-handle thead.ant-table-thead tr th:nth-child(2),
.evening-handle thead.ant-table-thead tr th:nth-child(3),
.evening-handle thead.ant-table-thead tr th:nth-child(5),
.evening-handle thead.ant-table-thead tr th:nth-child(6),
.evening-handle thead.ant-table-thead tr th:nth-child(7) {
  min-width: 100px;
}

.saleInfo-form thead.ant-table-thead tr th:nth-child(1),
.saleInfo-form thead.ant-table-thead tr th:nth-child(2),
.saleInfo-form thead.ant-table-thead tr th:nth-child(3),
.saleInfo-form thead.ant-table-thead tr th:nth-child(4),
.saleInfo-form thead.ant-table-thead tr th:nth-child(5),
.saleInfo-form thead.ant-table-thead tr th:nth-child(6),
.saleInfo-form thead.ant-table-thead tr th:nth-child(7),
.saleInfo-form thead.ant-table-thead tr th:nth-child(8),
.saleInfo-form thead.ant-table-thead tr th:nth-child(9),
.saleInfo-form thead.ant-table-thead tr th:nth-child(10),
.saleInfo-form thead.ant-table-thead tr th:nth-child(11),
.saleInfo-form thead.ant-table-thead tr th:nth-child(12),
.saleInfo-form thead.ant-table-thead tr th:nth-child(13){
  min-width: 100px;
}
.infotech-form thead.ant-table-thead tr th:nth-child(1),
.infotech-form thead.ant-table-thead tr th:nth-child(2),
.infotech-form thead.ant-table-thead tr th:nth-child(3),
.infotech-form thead.ant-table-thead tr th:nth-child(4),
.infotech-form thead.ant-table-thead tr th:nth-child(5),
.infotech-form thead.ant-table-thead tr th:nth-child(6),
.infotech-form thead.ant-table-thead tr th:nth-child(7),
.infotech-form thead.ant-table-thead tr th:nth-child(8),
.infotech-form thead.ant-table-thead tr th:nth-child(9),
.infotech-form thead.ant-table-thead tr th:nth-child(10),
.infotech-form thead.ant-table-thead tr th:nth-child(11),
.infotech-form thead.ant-table-thead tr th:nth-child(12),
.infotech-form thead.ant-table-thead tr th:nth-child(13),
.infotech-form thead.ant-table-thead tr th:nth-child(14){
  min-width: 100px;
}
.adjust-inputs{
  height: 27px !important;
  min-height: 32px;
  margin-top: 0px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.SalecampusForm-input-os input,
.SalecampusForm-input-os select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid gray;
}
.additional-notes{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid gray;
}
.SalecampusForm-col-os {
  padding-bottom: 2rem;
}

.gender {
  position: relative;
}

.gender select {
  width: 100%;
  /* margin-top: 15px; */
  padding: 12px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 30px;
}

.SalecampusForm-submit-os button {
  width: 40%;
  padding: 10px;
  background: #071c4d;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.gender1-radio {
  width: 7%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.SalecampusForm-data-os h2 {
  padding-bottom: 1rem;
  color: #071c4d;
  font-size: 27px;
}

.error-message-os {
  color: red;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 0;
}

.SalecampusForm-radio-os {
  display: flex;
  align-items: center;
}

.SalecampusForm-radio-os label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.SalecampusForm-radio-os label input {
  cursor: pointer;
}

.SalecampusForm-radio-row-os {
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
}

.SalecampusFormList-default-os {
  padding: 3rem;
  overflow: auto;
}

/* table css starts */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* table css ends */
/* salecampus css end */

.SalesInfoForm-radio-os label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
}

.SalesInfoForm-radio-os {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.2rem;
}

.SalesInfoForm-input-os input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid gray;
}

.SalesInfoForm-input-os {
  width: 70%;
}

.SalesInfoForm-input-os input:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

/* styles.css */

.interested {
  background-color: #bdfbab !important;
}

.not-interested {
  background-color: #f64c4c !important;
}

.hopefully {
  background-color: #f8e07f !important;
}

.not-picked {
  background-color: #f19b2b !important;
}

.enrolled {
  background-color: #92b3fb !important;
}

/* This ensures that every row, regardless of whether it is even or odd, takes the color based on its class and doesn't get shaded differently */
/* .ant-table-row.interested,
.ant-table-row.not-interested,
.ant-table-row.hopefully,
.ant-table-row.not-picked,
.ant-table-row.enrolled {
  background-color: inherit;
} */